body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: #FFFFFF;
}

body.main-page {
    background-image: url(../img/bg-page-one-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* не соответствует макету */
body.product-page, body.explanation-page {
    background-image: url(../img/background-pages.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.main-background .kid-viar {
    width: 450px;
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-page-header {
    margin: 0 auto;
    width: 1239px;
}

.main-nav {
    display: flex;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    width: 193px;
    margin-top: 43px;
    margin-right: 80px;
    margin-bottom: 3px;
    display: flex;
    
}

.logo img {
    margin: 0;
    display: block;
}

.logo-text {
    display: block;
    margin-top: 4px;
    margin-left: 15px;
    margin-bottom: 3px; 
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 619px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-right: 91px;
    margin-bottom: 8px;
}


.site-navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.site-navigation-item-point {
    display: flex;
    padding-top: 7px;
}

.site-navigation-item-point img {
    display: block;
}

.small-button-order {
    appearance: none;
    width: 108px;
    height: 34px;
    border: 2px solid #0DD1A2;
    border-radius: 2px;
    background: transparent;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    padding: 7px 13px;

    margin-top: 40px;
    margin-right: 20px;
}

.small-button-order:hover {
    background-color: #0dd1a2;
    border: 2px solid #0dd1a2;
    cursor: pointer;

}

.contact {
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
margin-top: 48px;
margin-bottom: 7px;
}


.page-main {
    margin: 0 auto;
    width: 1126px;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 738px;
    margin-top: 153px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 96px;
}

.main-text {
    width: 494px;
    margin-top: 0;
    margin-bottom: 71px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
}

.main-container-button {
    width: 463px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
}

.big-btn-order img {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-left: 40px;
    margin-right: 11px;
}

.big-btn-order {
    display: flex;
    align-items: center;
    appearance: none;
    width: 238px;
    height: 68px;

    border-radius: 3px;
    background-color: #15B28D;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}

.big-btn-order:hover {
    background-color: #0dd1a2;
    cursor: pointer;
}

.big-btn-title {
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.big-btn-video img {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-left: 40px;
    margin-right: 10px;
}

.big-btn-video {
    display: flex;
    align-items: center;
    appearance: none;
    width: 201px;
    height: 68px;

    border: 3px solid #15B28D;
    border-radius: 3px;
    background: transparent;
    margin: 0;
    padding: 0;
}

.big-btn-video:hover {
    background-color: #0dd1a2;
    border: 3px solid #0dd1a2;
    cursor: pointer;
}

.page-footer {
    margin: 0 auto;
    width: 1239px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 76px;
    margin-right: 399px;
}

.social-list-item {
    width: 32px;
    height: 32px;
    opacity: 0.64;
}

.social-list-item:first-child:hover {
    opacity: 1;
}

.social-list-item:last-child:hover {
    opacity: 1;
}

.social-list-item:first-child img {
    padding-top: 4px;
    padding-right: 11px;
    padding-top: 6px;
    padding-left: 10px;
}

.social-list-item:last-child img {
    padding-top: 9px;
    padding-right: 2px;
    padding-bottom: 8px;
    padding-left: 2px;
}

.social-list-item img {
    display: block;
}

/*надо поменять отсюда и */
.button-scroll-text {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 138%;
    letter-spacing: 0.12em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button-scroll img {
    display: block;
    width: 17px;
    height: 9px;
    margin: 0;
    margin-left: 137px;
    margin-right: 136px;
}

.button-scroll {
    width: 288px;
    height: 28px;
    margin: 2px 0;
    padding: 0;
    appearance: none;

    display: flex;
    flex-direction: column;

    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    opacity: 0.64;

    margin-right: 420px;
}
/*и до сюда*/
h1 {
    font-weight: 500;
    font-size: 44px;
}
/* page product*/
.site-navigation-item a.active {
    color: #0dd1a2;
}

.main-product-page {
    width: 1239px;
    margin: 0 auto;
    
}

.main-product-content {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 13px;
}

.main-product-page-title {
    width: 561px;
    margin-top: 76px;
    margin-bottom: 4px;
}

.line {
    display: block;
    margin: 0;
    width: 591px;
    border-top: 3px solid #0dd1a2;
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    gap: 0 58px;
}

.main-product-text-container {
    width: 561px;
    margin: 0;
}

.main-product-text-container p {
    width: 440px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    margin-top: 0;
    margin-left: 30px;
}

.product-page-title {
    width: 192px;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    margin-top: 45px;
    margin-left: 446px;
    margin-right: 545px;
    margin-bottom: 5px;
}

.border {
    width: 560px;
    height: 276px;
    position: relative;
    margin-top: 97px;
    border: 4px solid #0dd1a2;
    position: relative;
    z-index: -1;
}

/*изображение не соответствует макету. Надо как то его маштабировать что ли*/
.product-gallery-img {
    display: inline;
    width: 560px;
    height: 300px;
    
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: -1;
}

.button-content {
    display: flex;
    width: 202px;
    margin-left: 347px;
    margin-top: 35px;
    margin-right: 25px;
}

.button-content-text {
    width: 82px;
}

.button-content p {
    margin: 0;
    width: 61px;
    padding-top: 13px;
    padding-right: 21px;
    padding-bottom: 14px;
    padding-left: 0;
    font-weight: 500;
    font-size: 18px;
}

.button-content p span {
    display: block-inline;
}

.button-content p .btn-content-text-right {
    font-weight: 400;
    color: #ababab;
    opacity: 0.87;
}

.button-left, .button-right {
    width: 60px;
    padding: 0;
    border: 1px solid #1c1c1c;
    cursor: pointer;
}

/*стрелку при наведении не сделать зеленой, потому что
svg вшит в верстку как изолированная картинка*/

.product-gallery-button-left, .product-gallery-button-right  {
    display: block;
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
    background-color: #1c1c1c;
}

.fotter-product-page, .footer-explanation {
    margin: 0 auto;
    text-align: center;
}

.fotter-product-page img, .footer-explanation {
    margin-bottom: 30px;
}

/* explanation */

.main-explanation {
    width: 1239px;
    margin: 0 auto;
    margin-bottom: 46px;
}

.explanation-title {
    margin: 0;
    margin-top: 76px;
    margin-left: 26px;
    margin-bottom: 55px;
}

.explanation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 0;
}

.explanation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.explanation-card {
    width: 535px;
}

.explanation-cards .explanation-card:first-child {
    margin-left: 48px;
    margin-right: 58px;
}

.explanation-cards .explanation-card:nth-child(2) {
    margin-top: 17px;
    margin-right: 63px;
}

.explanation-cards .explanation-card:nth-child(3) {
    margin-left: 78px;
    margin-right: 78px;
    margin-bottom: 18px;
}

.explanation-cards .explanation-card:last-child {
    margin-top: 17px;
    margin-right: 13px;
}

.explanation-card-list {
    display: flex;
}

.explanation-item-photo {
    position: relative;
}

.explanation-border {
    border: 2px solid #0dd1a2;
    width: 193px;
    height: 128px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.explanation-border img {
    width: 195px;
    height: 130px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
}

.explanation-border:first-child {
    margin-bottom: 20px;
}

.item-text {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color:#0DD1A2; 
}

.item-text span {
    display: block;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    width: 17px;
    height: 35px;
    
}

.one {
    position: absolute;
    top: 110px; 
}

.one span {
    margin-top: 3px;
    margin-right: 11px;
    margin-bottom: 2px;
    margin-left: 11px;
}

.two {
    position: absolute;
    top: 114px;
}

.two span {
    margin-top: 4px;
    margin-right: 11px;
    margin-bottom: 1px;
    margin-left: 12px;
}

.three {
    position: absolute;
    top: 114px;
}

.three span {
    margin-top: 4px;
    margin-right: 12px;
    margin-bottom: 3px;
    margin-left: 12px; 
}

.four {
    position: absolute;
    top: 113px;
}

.four span {
    margin-top: 3px;
    margin-right: 11px;
    margin-bottom: 2px;
    margin-left: 11px;
}

.explanation-item-title {
    margin: 0;
    width: 110px;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explanation-item-text {
    margin: 0;
    width: 300px;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 3px;
}