html {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: #FFFFFF;
    background-color: #ababab;
}

body.main-page {
    background-image: url(../img/bg-page-one-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* не соответствует макету */
body.product-page, body.explanation-page, body.tecnology-page, body.question-page, body.contact-page {
    background-image: url(../img/background-pages.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: relative;
}

/*.main-background {
    background-image: url(../img/kid_VR_main_page.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}*/

.main-background .kid-viar {
    width: 450px;
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.background-question .kid-viar-question {
    width: 235px;
    height: 264px;
    position: absolute;
    top: 504px;
    left: 1101px;
}

.main-page-header {
    margin: 0 auto;
    width: 1239px;
}

.main-nav {
    display: flex;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    width: 193px;
    margin-top: 43px;
    margin-right: 80px;
    margin-bottom: 3px;
    display: flex;  
}

.logo img {
    margin: 0;
    display: block;
}

.logo-text {
    display: block;
    margin-top: 4px;
    margin-left: 15px;
    margin-bottom: 3px; 
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.main-logo {
    width: 28px;
    height: 28px;
}

.logo:hover #main-logo g path {
    fill:#0DD1A2;
}

.logo:hover .logo-text {
    color:#0DD1A2;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 619px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-right: 91px;
    margin-bottom: 8px;
}


.site-navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.site-navigation-item-point {
    display: block;
    margin-top: 7px;
    margin-right: 1px;
}

.small-button-order {
    appearance: none;
    width: 108px;
    height: 34px;
    border: 2px solid #0DD1A2;
    border-radius: 2px;
    background: transparent;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    padding: 7px 13px;

    margin-top: 40px;
    margin-right: 20px;
}

.small-button-order:hover {
    background-color: #0dd1a2;
    border: 2px solid #0dd1a2;
    cursor: pointer;

}

.contact {
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
margin-top: 48px;
margin-bottom: 7px;
}


.page-main {
    margin: 0 auto;
    width: 1126px;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 738px;
    margin-top: 153px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 96px;
}

.main-text {
    width: 494px;
    margin-top: 0;
    margin-bottom: 71px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
}

.main-container-button {
    width: 463px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
}

.big-btn-order svg {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-left: 40px;
    margin-right: 11px;
}

.big-btn-order {
    display: flex;
    align-items: center;
    appearance: none;
    width: 238px;
    height: 68px;

    border-radius: 3px;
    background-color: #15B28D;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}

.big-btn-order:hover {
    background-color: #0dd1a2;
    cursor: pointer;
}

.big-btn-title {
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.big-btn-video svg {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-left: 40px;
    margin-right: 10px;
}

.big-btn-video {
    display: flex;
    align-items: center;
    appearance: none;
    width: 201px;
    height: 68px;

    border: 3px solid #15B28D;
    border-radius: 3px;
    background: transparent;
    margin: 0;
    padding: 0;
}

.big-btn-video:hover {
    background-color: #0dd1a2;
    border: 3px solid #0dd1a2;
    cursor: pointer;
}

.page-footer {
    margin: 0 auto;
    width: 1239px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 76px;
    margin-right: 399px;
}

.social-list-item {
    width: 32px;
    height: 32px;
    opacity: 0.64;
}

.social-list-item a {
    display: block;
    width: 32px;
    height: 32px;
}

.social-list-item:first-child:hover {
    opacity: 1;
}

.social-list-item:last-child:hover {
    opacity: 1;
}

.social-list-item a>.facebook {
    padding-top: 4px;
    padding-right: 11px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.social-list-item a>.vk {
    padding-top: 9px;
    padding-right: 2px;
    padding-bottom: 8px;
    padding-left: 2px;
}

.button-scroll-text {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 138%;
    letter-spacing: 0.12em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button-scroll svg {
    display: block;
    width: 17px;
    height: 9px;
    margin: 0;
    margin-left: 137px;
    margin-right: 136px;
}

.button-scroll {
    width: 288px;
    height: 28px;
    margin: 2px 0;
    padding: 0;
    appearance: none;

    display: flex;
    flex-direction: column;

    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    opacity: 0.64;

    margin-right: 420px;
    text-decoration: none;
}

h1 {
    font-weight: 500;
    font-size: 44px;
}
/* page product*/
.site-navigation-item a.active {
    color: #0dd1a2;
}

.main-product, .main-explanation, .main-tecnology, .main-question {
    width: 1239px;
    margin: 0 auto;
}

.main-product {
    margin-bottom: 13px;
    
}

.main-product-content {
    margin-left: 26px;
    margin-right: 26px;
}

.main-product-page-title {
    width: 561px;
    margin-top: 76px;
    margin-bottom: 4px;
}

.line {
    display: block;
    margin: 0;
    width: 591px;
    border-top: 3px solid #0dd1a2;
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    gap: 0 58px;
}

.main-product-text-container {
    width: 561px;
    margin: 0;
}

.main-product-text-container p {
    width: 440px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    margin-top: 0;
    margin-left: 30px;
}

.product-page-title {
    width: 192px;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    margin-top: 45px;
    margin-left: 446px;
    margin-right: 545px;
    margin-bottom: 5px;
}

.border {
    width: 560px;
    height: 276px;
    position: relative;
    margin-top: 97px;
    border: 4px solid #0dd1a2;
    position: relative;
    z-index: -1;
}

/*изображение не соответствует макету. Надо как то его маштабировать что ли*/
.product-gallery-img {
    display: inline;
    width: 560px;
    height: 300px;
    
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: -1;
}

.button-content {
    display: flex;
    width: 202px;
    margin-left: 347px;
    margin-top: 35px;
    margin-right: 25px;
}

.button-content-text {
    width: 82px;
}

.button-content p {
    margin: 0;
    width: 61px;
    padding-top: 13px;
    padding-right: 21px;
    padding-bottom: 14px;
    padding-left: 0;
    font-weight: 500;
    font-size: 18px;
}

.button-content p span {
    display: block-inline;
}

.button-content p .btn-content-text-right {
    font-weight: 400;
    color: #ababab;
    opacity: 0.87;
}

.button-left, .button-right {
    width: 60px;
    padding: 0;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    background-color: #1c1c1c;
}

#arrow-left-icon path{
    width: 8px;
    height: 16px;
}

.button-left:hover svg path {
    stroke: #0dd1a2;
}

#arrow-right-icon path {
    width: 8px;
    height: 16px;
}

.button-right:hover svg path {
    stroke: #0dd1a2;
}

.fotter-product-page, .footer-explanation, .footer-tecnology, .footer-question {
    margin: 0 auto;
    text-align: center;
    opacity: 0.64;
}

.fotter-product-page, .footer-explanation, .footer-tecnology {
    margin-bottom: 30px;
}

/* explanation */

.main-explanation {
    margin-bottom: 46px;
}

.explanation-title {
    margin: 0;
    margin-top: 76px;
    margin-left: 26px;
    margin-bottom: 55px;
}

.explanation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 0;
}

.explanation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.explanation-card {
    width: 535px;
}

.explanation-cards .explanation-card:first-child {
    margin-left: 48px;
    margin-right: 58px;
}

.explanation-cards .explanation-card:nth-child(2) {
    margin-top: 17px;
    margin-right: 63px;
}

.explanation-cards .explanation-card:nth-child(3) {
    margin-left: 78px;
    margin-right: 78px;
    margin-bottom: 18px;
}

.explanation-cards .explanation-card:last-child {
    margin-top: 17px;
    margin-right: 13px;
}

.explanation-card-list {
    display: flex;
}

.explanation-item-photo {
    position: relative;
}

.explanation-border {
    border: 2px solid #0dd1a2;
    width: 193px;
    height: 128px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.explanation-border img {
    width: 195px;
    height: 130px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
}

.explanation-border:first-child {
    margin-bottom: 20px;
}

.item-text {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color:#0DD1A2; 
}

.item-text span {
    display: block;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    width: 17px;
    height: 35px;
    
}

.one {
    position: absolute;
    top: 110px; 
}

.one span {
    margin-top: 3px;
    margin-right: 11px;
    margin-bottom: 2px;
    margin-left: 11px;
}

.two {
    position: absolute;
    top: 114px;
}

.two span {
    margin-top: 4px;
    margin-right: 11px;
    margin-bottom: 1px;
    margin-left: 12px;
}

.three {
    position: absolute;
    top: 114px;
}

.three span {
    margin-top: 4px;
    margin-right: 12px;
    margin-bottom: 3px;
    margin-left: 12px; 
}

.four {
    position: absolute;
    top: 113px;
}

.four span {
    margin-top: 3px;
    margin-right: 11px;
    margin-bottom: 2px;
    margin-left: 11px;
}

.explanation-item-title {
    margin: 0;
    width: 110px;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explanation-item-text {
    margin: 0;
    width: 300px;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 3px;
}

/* tecnology */
.main-tecnology {
    margin-bottom: 18px;
}

.tecnology-title {
    width: 319px;
    margin-top: 76px;
    margin-left: 26px;
    margin-bottom: 32px;
}

.tecnology-container {
    display: flex;
}

.tecnology-text-one, .tecnology-text-two {
    width: 280px;
}
.tecnology-text-one {
    margin: 0;
    margin-left: 54px;
    margin-right: 10px;
}

.tecnology-text-one h2 {
    margin-top: 47px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 21px;
    line-height: 132%;  
}

.tecnology-text-one p {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
}

.tecnology-text-one p:last-child {
    margin-bottom: 0;
}

.tecnology-photo {
    width: 480px;
    height: 480px;
    margin-right: 65px;
    background-image: url(../img/Ellipse.svg);
}

.tecnology-photo-container {
    margin: 36px 36px;
    width: 408px;
    height: 408px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.tecnology-photo-container .main-photo {
    width: 417px;
    margin-top: 105px;
    margin-bottom: 90px;
    margin-left: 11px;
}

.loup {
    width: 85px;
    height: 85px;
    border:1px solid #15B28D;
    border-radius: 50%;
    background-color: #15B28D;
    position: absolute;
    top: 303px;
    left: 310px;
}
.loup svg {
    width: 40px; 
    height: 40px;
    margin-top: 25px;
    margin-right: 18px;
    margin-bottom: 20px;
    margin-left: 27px;
}

.loup:hover {
cursor: pointer;
background-color: #0DD1A2;
}

.arrow-pointer-one {
    width: 181px;
    height: 115px;
    position: absolute;
    top: 24px;
    right: 341px;
}

.arrow-pointer-two {
    width: 409px;
    height: 83;
    position: absolute;
    top: 179px;
    right: 157px;
}

.arrow-pointer-three {
    width: 124px;
    height: 90px;
    position: absolute;
    top: 190px;
    left: 374px;
}

.arrow-pointer-four {
    width: 245px;
    height: 98px;
    position: absolute;
    top: 24px;
    left: 260px;
}

.tecnology-text-two {
    margin: 0;
    margin-right: 71px; 
}

.tecnology-text-two h2 {
    margin-top: 47px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 21px;
    line-height: 132%; 
}

.tecnology-text-two p {
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
}

.tecnology-text-two p:last-child {
    margin-bottom: 0;
}

/*question */
.main-question {
    margin-bottom: 48px;
}

.question-title {
    width: 591px;
    margin: 0;
    margin-top: 76px;
    margin-left: 26px;
    margin-bottom: 40px;
}

.list-question {
    margin: 0;
    padding: 0;
    margin-left: 26px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.item-question {
    width: 904px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0;
    margin-bottom: 5px;
    align-items: center;
}

.item-question svg {
    width: 8px;
    height: 8px;
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.item-question h2 {
    margin: 0;
    width: 613px;
    font-weight: 500;
    font-size: 21px;
    line-height: 132%;
    color: #1c1c1c;
    margin-top: 20px;
    margin-bottom: 24px;
}

.item-question:nth-child(2) h2 {
    margin: 0;
    width: 709px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-question:nth-child(2) p {
    margin: 0;
    width: 640px;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #1c1c1c;
    margin-left: 50px;
    margin-bottom: 30px;
}

.item-question:nth-child(3) h2 {
    width: 731px;
}

.item-question:nth-child(4) h2 {
    width: 714px;
}

.item-question:last-child {
    margin-bottom: 0;
}

.item-question button {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    width: 72px;
    height: 72px;
    border: 1px solid #15B28D;
    background-color: #15B28D;
}

.item-question button svg {
    width: 23px;
    height: 23px;
    display: block;
    padding-bottom: 15px;
}

.item-question.active button svg {
    width: 28px;
    height: 28px;
}

.question-button:hover {
    background-color: #0dd1a2;
    cursor: pointer;
}