// viewports
$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;

// color
$brand: #15b28d;
$brand-brighter: #0dd1a2;
$black: #1c1c1c;
$white: #ffffff;
$correct: #1dc04b;
$incorrect: #f97676;

//font
$font-family: "Ubuntu",sans-serif;
