.button {
  padding: 9px 15px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  background-color: inherit;
  border: 2px solid $brand-brighter;
  border-radius: 2px;
}

// .button--color {}
