.footer-site {
  color: $white;
  background-color: inherit;
}

// .footer-site__social-list {}

// .footer-site__social-item {}

// .footer-site__social-link {}

.footer-site__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}
