.main-nav {
  color: $white;
  background-color: inherit;
}

.main-nav__logo {
  display: block;
}

.main-nav__logo-image {
  display: block;
  width: 193px;
  height: 28px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style: none;
}

.main-nav__button {
  margin: 0;
}

.main-nav__contact {
  font-weight: 700;
  font-size: 16px;
  color: $white;
}
