.main-header {
  padding-top: 38px;
  color: $white;
  background-color: inherit;
}

.main-header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 1280px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: max-content;
  }

  &--close {
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: -16px;
      z-index: 2;
      width: 100vw;
      height: auto;
      padding: 38px 16px 52px;
      display: grid;
      grid-template-rows: max-content max-content max-content;
      grid-template-columns: 1fr max-content 1fr;
      background-color: $black;
    }
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 190px;
  margin-right: auto;

  @media (max-width: 1280px) {
    width: 28px;
    margin-right: 0;
  }

  @media (max-width: 1024px) {
    margin-right: 0;
  }
}

.main-header__logo-image {
  display: block;
  width: 28px;
  height: 28px;
}

.main-header__logo-text {
  display: block;
  width: 148px;
  height: 14px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.main-header__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 70px;
  gap: 38px;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: 1024px) {
    margin-right: 0;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.main-header__nav--close .main-header__list {
  @media (max-width: 768px) {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 24px;
    flex-direction: column;
  }
}

.main-header__button {
  margin: 0;
  border-color: transparent;
  box-shadow: inset 0 0 0 2px #0dd1a2;

  @media (max-width: 924px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.main-header__nav--close .main-header__inner-contact {
  @media (max-width: 768px) {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 24px;
    background-color: $black;
  }
}

.main-header__contact {
  font-weight: 700;
  font-size: 16px;
  color: $white;

  @media (max-width: 1024px) {
    display: none;
  }
}

.main-header__nav--close .main-header__contact {
  @media (max-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }
}

.main-header__social-list {
  display: none;
}

.main-header__nav--close .main-header__social-list {
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
}

.main-header__button-burger {
  margin: 0;
  padding: 0;
  border: none;

  @media (max-width: 768px) {
    position: absolute;
    top: 50px;
    right: 4px;
    width: 24px;
    height: 14px;
    border: none;
  }
}
